{% extends 'FootballNewsBundle:Default:base.html.twig' %}

{% block javascripts %}
    {% javascripts
    '@FootballNewsBundle/Resources/public/js/jquery-1.8.3.min.js'
    '@FootballNewsBundle/Resources/public/js/jquery.hashchange.min.js'
    '@FootballNewsBundle/Resources/public/js/slider.js'
    '@FootballNewsBundle/Resources/public/js/jquery.easytabs.min.js'
    '@FootballNewsBundle/Resources/public/js/grayscale.js'
    output='bundles/footballnews/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $('#tab-container').easytabs();

        var $grayScale = $('.grayScale');
        grayscale.prepare( $grayScale );
        grayscale( $grayScale );
        $grayScale.hover(function() {
            grayscale.reset( $(this) );
        }, function() {
            grayscale( $(this) );
        });
    </script>
{% endblock %}

{% block title %}Главная | Football 3x3{% endblock %}

{% block content %}
    {% if events %}
    <div class="slider">
        <div class="slides">
            <ul>
                {% for event in events %}
                <li class="active">
                    <img class="small-img" src="{{ event.image }}" width="100" height="75" />
                    <b class="small-caption">{{ event.name }}</b>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="big-slide">
            <img class="big-img" height="400" width="650" />
            <span class="big-caption"></span>
        </div>
    </div>
    {% endif %}

    {% if leagues %}
    <h2>Кращі команди<span class="alt-heading">(Сезон / зима 2012)</span></h2>

    <div id="tab-container" class="tab-container">
        <ul class="etabs">
            {% for league in leagues %}
                <li class="tab"><a href="#tab-{{ league.slug }}">{{ league.shortName }}</a></li>
            {% endfor %}
        </ul>
        {% for league in leagues %}
        <div class="content" id="tab-{{ league.slug }}">
            <h3>{{ league.name }}</h3>
            <table class="table">
                <tbody>
                <tr>
                    <td class="team-image"><img src="http://football3x3.kiev.ua/wp-content/uploads/2011/12/x_fd85d5ae.jpg" height="60" /></td>
                    <td>Комманда ла-ла-лаб бла-бла-бла</td>
                </tr>
                <tr>
                    <td class="team-image"><img src="http://football3x3.kiev.ua/wp-content/uploads/2011/12/x_fd85d5ae.jpg" height="60" /></td>
                    <td>Комманда ла-ла-лаб бла-бла-бла</td>
                </tr>
                <tr>
                    <td class="team-image"><img src="http://football3x3.kiev.ua/wp-content/uploads/2011/12/x_fd85d5ae.jpg" height="60" /></td>
                    <td>Комманда ла-ла-лаб бла-бла-бла</td>
                </tr>
                <tr>
                    <td class="team-image"><img src="http://football3x3.kiev.ua/wp-content/uploads/2011/12/x_fd85d5ae.jpg" height="60" /></td>
                    <td>Комманда ла-ла-лаб бла-бла-бла</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row clear">
        <div class="block left">
            <h3 class="heading">Зал слави</h3>
            <ul>
                <li>qwe1</li>
                <li>qwe2</li>
                <li>qwe3</li>
                <li>qwe4</li>
                <li>qwe5</li>
                <li>qwe6</li>
            </ul>
        </div>

        <div class="block right">
            <h3 class="heading">Благодійність</h3>
            <ul>
                <li>qwe1</li>
                <li>qwe2</li>
                <li>qwe3</li>
                <li>qwe4</li>
                <li>qwe5</li>
                <li>qwe6</li>
            </ul>
        </div>
    </div>

    <h2>Партнеры</h2>
    <table class="partners">
        <tbody>
        <tr>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/derjavna-slujba-molodi-ta-sportu-ukrainy.jpg') }}" /></td>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/umbro.jpg') }}" /></td>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/sport-for-all.jpg') }}" /></td>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/junour-bank.jpg') }}" /></td>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/epicenter.jpg') }}" /></td>
        </tr>
        <tr>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/pershiy-natsionalniy.jpg') }}" /></td>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/ukr-freestyle.jpg') }}" /></td>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/istvo.jpg') }}" /></td>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/ukrainochka.jpg') }}" /></td>
            <td><img class="grayScale" src="{{ asset('bundles/footballnews/images/partners/corporate-league.jpg') }}" /></td>
        </tr>
        </tbody>
    </table>

    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="303" height="101">
        <param name="movie" value="http://agent.privatbank.ua/media/banners/shared/junior_new_303x101_ua_as3.swf">
        <param name="FlashVars" value="URL=http://agent.privatbank.ua/branches/product/13/1007208777/" /> <param name="quality" value="high">
        <embed src="http://agent.privatbank.ua/media/banners/shared/junior_new_303x101_ua_as3.swf" quality="high" FlashVars="URL=http://agent.privatbank.ua/branches/product/13/1007208777/" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="303" height="101"></embed>
    </object>

{% endblock %}
